<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INDEX PAGE</title>
</head>
<body>

<!--<h2>Weather is :</h2>-->
<!--<p th:text="${currentWeather.description}">Description </p>-->
<!--<h2>Temperature is: </h2>-->
<!--<p th:text="${currentWeather.temperature} + ' ° F '">Temperature </p>-->
<!--<h2>Feels Like</h2>-->
<!--<p th:text="${currentWeather.feelsLike} + ' ° F '">Feels Like </p>-->
<!--<h2>Wind Speed is : </h2>-->
<!--<p th:text="${currentWeather.windSpeed} + ' mph' ">Wind Speed </p>-->


<div align="center" class="container parent">


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Temperature</th>
            <th>FEELS LIKE</th>
            <th>WindSpeed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currentWeathers : ${currentWeather}">
            <td th:text="${currentWeather.description}">Description</td>
            <td th:text="${currentWeather.temperature}">Temperature</td>
            <td th:text="${currentWeather.feelsLike}">Feels like</td>
            <td th:text="${currentWeather.windSpeed}">Wind Speed</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>